@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}
/* In your global CSS */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}
