PORT = 3000
MONGO_URI = "mongodb+srv://your-database-name:your-database-passwaord@cluster0.eswcxct.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=admin@123
JWT_SECRET = "surajTechpanda123"
